
/* Your CSS Code here. */
.outer{
	margin: 20px;
	border: 1px solid black;
	height:200px;
	width:385px;
}
 .box {
            width: 300px;
            background-color: lightblue;
            border: 15px solid blue;
            padding: 50px;
            margin: 20px;
            box-sizing: content-box;
        }